ci:
    autoupdate_schedule: monthly
    autofix_prs: true

exclude: &exclude_files >
  (?x)^(
    performance-benchmarks/.*/.*\.py |
    docs/conf.py
  )$

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.9
    hooks:
      # Check and update the uv lockfile
    - id: uv-lock

  - repo: https://github.com/ikamensh/flynt/
    rev: '1.0.1'
    hooks:
    - id: flynt

  - repo: https://github.com/executablebooks/mdformat
    rev: '0.7.17'
    hooks:
    - id: mdformat
      additional_dependencies:
      - linkify-it-py
      - mdformat-gfm
      - mdformat-black
      files: (?x)^(README\.md|CHANGELOG\.md)$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.14.0
    hooks:
    - id: pyupgrade
      args: [--py37-plus]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
    - id: ruff-format
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix, --show-fixes]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
    - id: mypy
      additional_dependencies:
      - "sqlalchemy[mypy]==1.4.29"
      files: ^(disk_objectstore/.*py)$
