ci:
    autoupdate_schedule: monthly
    autofix_prs: true

exclude: &exclude_files >
  (?x)^(
    performance-benchmarks/.*/.*\.py
  )$

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
    - id: setup-cfg-fmt

  - repo: https://github.com/ikamensh/flynt/
    rev: '0.69'
    hooks:
    - id: flynt
      args: [
        '--line-length=120',
        '--fail-on-change',
      ]

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.47"
    hooks:
    - id: check-manifest
      args: [--no-build-isolation]
      additional_dependencies: [setuptools>=46.4.0]

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.11
    hooks:
    - id: mdformat
      additional_dependencies:
      - linkify-it-py
      - mdformat-gfm
      - mdformat-black
      files: (?x)^(README\.md|CHANGELOG\.md)$

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    - id: pyupgrade
      args: [--py37-plus]

  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/pylint
    rev: v2.12.2
    hooks:
    - id: pylint
      additional_dependencies:
      - sqlalchemy==1.4.22
      - click==8.0.1
      - memory-profiler==0.58.0
      - profilehooks==1.12.0
      - psutil==5.8.0
      - pytest==6.2.4

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
    - id: mypy
      additional_dependencies:
      - "sqlalchemy[mypy]==1.4.22"
      - typing-extensions
      files: ^(disk_objectstore/.*py)$
