profilehooks==1.11.2
psutil==5.7.0
click==7.1.1
pre-commit==1.12.0; python_version<='3.5'
pre-commit==2.2.0; python_version>'3.5'
yapf==0.29.0
prospector==1.2.0
pylint==2.4.4
coverage==5.0.4
pytest==5.4.1
pytest-cov==2.8.1
pytest-benchmark==3.2.3
memory-profiler==0.57.0
pywin32==228; platform_system == "Windows"