# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Continuous integration

on: [push, pull_request]

env:
  FORCE_COLOR: 1

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - uses: pre-commit/action@v3.0.1

  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v5
        # Set up 'ssh localhost' that is used in testing the backup command
        # skipped for windows, as it doesn't support this setup or the backup command
      - name: set up 'ssh localhost'
        if: matrix.os != 'windows-latest'
        run: |
          .github/workflows/setup-ssh-localhost.sh
          ssh -v localhost

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: 0.9.9
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies from uv lock
        # We assert that uv.lock is up-to-date
        run: uv sync --locked

      - name: Test with pytest
        # No need to run the benchmarks, they will run in a different workflow
        # Also, run in very verbose mode so if there is an error we get a complete diff
        run: uv run pytest -vv --cov=disk_objectstore --benchmark-skip
        env:
          SQLALCHEMY_WARN_20: 1
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          name: disk-objectstore
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          ## Commenting the following lines - if often fails, and if at least one manages to push, it should be enough
          # fail_ci_if_error: true
