# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Concurrency nightly tests

on:
  schedule:
  # See https://help.github.com/en/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows#scheduled-events-schedule
  # NOTE: Scheduled workflows run on the latest commit on the default or base branch.
  # run every day at 05:00 UTC
  - cron: "0 5 * * *"

env:
  FORCE_COLOR: 1

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Check all OSs (this is important!)
        os: [ubuntu-latest, macos-latest, windows-latest]
        # Testing extensively but only on two python versions, typically first and last supported
        python-version: ["3.9", "3.13"]

    # Do not run on forks
    if: github.repository_owner == 'aiidateam'

    steps:
    - uses: actions/checkout@v5
    - name: Set up uv
      uses: astral-sh/setup-uv@v7
      with:
        version: 0.9.4
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies from uv lock
      run: uv sync --locked
    - name: Test with pytest
      # Run only the concurrency tests, and repeating them 5 times to increase the chance that, if there is an issue
      # only happening rarely, we notice it
      run: uv run pytest -vv tests/test_concurrency.py --concurrency-repetitions=5
